.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}



/* Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800 */




body {
  background-color: #F1F1F3;
}
header {
  padding: 0 160px;

}
main {
  padding: 0 160px;
}


/* style for Header Section */

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  list-style: none;
  font-size: 32px;
  text-decoration: none;
  color: #0E0E0E;
}

nav ul li button {
  background-color: white;
  border-width: 1px;
  border-color: #006A50;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 18px;
  color: #006A50;
}

/* style for Banner Section */

.banner {
  background-color: #C6E4D6;
  padding: 60px 80px;
  margin-bottom: 80px;
  border-radius: 24px;

}

.banner-content {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 80px 60px;
}

.banner-text {
  margin: 117px 60px;
}

.bangladesh {
  font-size: 24px;
  font-weight: 5 00;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: none;
}

.headline {
  font-size: 56px;
  font-weight: 700;
  color: #0E0E0E;
  margin-bottom: none;
}

.explore {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 17px 34px;
  background-color: #006A50;
  border-radius: 8px;
  border: none;
}

/* .flag {
  width: 474;
  height: 20;
} */


/* style for main section */

.about {
  display: flex;
  flex-direction: column;
  gap: 80px;
}


.about-title {
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

/* style for pillers section */

.about-pillers {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 80px;
}

.pillers {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #FFFFFF;
  padding: 40px 60px;
  border-radius: 16px;
  border: 1px;
  border-color: rgba(14, 14, 14, 0.15);
}

.light {
  width: 62px;
  height: 62px;
  margin-bottom: 24px;
}

.piller-title {
  font-size: 20px;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 12px;

}

.piller-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}


.info-text {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 24px;
  line-height: 24px;
}

/* vision style  */

.about-vision-box {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 80px;
}

.vision-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #FFFFFF;
  padding: 32px;
  border-radius: 16px;
  border: 1px;
  border-color: rgba(14, 14, 14, 0.15);
}

.btn {
  height: 41px;
  width: 122px;
  padding: 11px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
  border: none;
}





/* style for news section */

.news-sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news-box {
  display: flex;
  gap: 32px;
  background-color: #FFFFFF;
  padding: 48px;
  border-radius: 24px;
}

.news-headline {
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0 0 24px 0;
}

.news-img {
  border-radius: 24px;
}

.news-channel {
  margin-bottom: 12px;
}

.news-date {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
}

.read-more {
  background-color: #006A50;
  color: #FFFFFF;
  margin: 24px 0 0 0;
}

/* style for donate section */

.donate-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  /* margin-bottom: 80px; */
  margin: none;
  padding: 0 105px 24px;
}


.donate-title {
  font-size: 40px;
  color: #0E0E0E;
  margin: none;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.donate-text {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin: none;
  line-height: 24px;
  text-align: center;
}

.donate-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0 105px;
  margin: none;
  /* margin-bottom: 80px; */
}

.donate-box {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 16px;
  /* margin: none; */
}


.donate-input {
  width: 95%;
  padding: 12px;
  text-align: center;
  border: none;
}

.donate-input::placeholder {
  color: rgba(171, 171, 171, 1);
  align-items: center;
}


/* challenge comma style */
.challenge-comma {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  background-image: url("/B11A1--assignment-1/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 24px;
  border-radius: 16px;
  gap: 0px;
  margin-bottom: 80px;
}

.yunus {
  font-size: 20px;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(14, 14, 14, 0.8);
  margin: none;
}

.designation {
  font-size: 20px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(14, 14, 14, 0.6);
  margin: none;
}



.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 265px;
}

.nl-title {
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  margin: none;
  text-align: center;
}

.nl-text {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  margin: none;
  line-height: 24px;
  text-align: center;
  padding: 16px 64px;
}

.challenge-input {
  display: flex;
  align-items: center;
  gap: 0px;
  margin: none;

}

.nl-input {
  text-align: left;
  padding: 0 24px;
  border: none;
  width: 600px;
  height: 55px;
  border-radius: 8px 0 0 8px;
}

.nl-btn {
  width: 150px;
  height: 55px;
  margin: none;
  border: none;
  background-color: #006A50;
  color: white;
  border-radius: 0 8px 8px 0;
}


/* style of hover effect on cards */

.learn-btn {
  height: 41px;
  width: 122px;
  padding: 11px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
  border: none;
}

/* backgrounds for cards */
.box-1 {
  background-color: rgba(84, 144, 245, 0.2);
  color: black;
  border: 1px;
  border-color: rgba(84, 144, 245, 1);
}

.learn-1 {
  background-color: rgba(84, 144, 245, 1);

}



.box-2 {
  background-color: rgba(198, 228, 214, 1);
  color: black;
  border: 1px;
  border-color: rgba(9, 161, 92, 1);
}

.learn-2 {
  background-color: rgba(9, 161, 92, 1);
}




.box-3 {
  background-color: rgba(247, 235, 207, 1);
  color: black;
  border: 1px;
  border-color: rgba(255, 194, 57, 1);
}

.learn-3 {
  background-color: rgba(255, 194, 57, 1);
}

/* Hovers for cards */
.vision-box:hover {
  background-color: white;

}

.learn-btn:hover {
  background-color: #006A50;
  color: white;
}

.donate-section:hover {
  background-color: rgba(0, 255, 42, 0.1);
  border-radius: 16px;
  transition-duration: 1s;
}

.donate-box:hover {
  background-color: lightgrey;
  border-radius: 16px;
  border-color: #006A50;
}

.btn:hover {
  background-color: #009c7586;
  transition-duration: 1s;
  transform-origin: left;
  border-color: #006A50;
  color: black;
}

.pillers:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer style */

footer { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 240px;
  background-color: #FFFFFF;
  margin: 80px 0 0 0;
}

footer h4 {
  font-size: 32px;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
  margin: none;
  padding: none;
}

footer hr {
  width: 100%;
  border: 1px solid rgba(14, 14, 14, .2);
  margin: none;
}

.sm-logos {
  display: flex;
  gap: 24px;
  margin-top: 32px;
}